<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CoreMLDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>048F47D11EF25DAD00C2537B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>048F47E51EF25DAD00C2537B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>048F47F01EF25DAD00C2537B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
